main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat bottom url("../../img/RectangleDesktop.svg");
    background-size: contain;
}

.card {
    padding: 89px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    width: 566px;
    height: 626px;
    background: white;
    border-radius: 10px;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
    color: #10204C;
}

.forgot {


}

.register {
    color: #4285F4;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
    overflow: hidden;
}

.imgWrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    color: #B2B7BB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
